@model IEnumerable<DaNangTourism.Models.ScheduleDestination>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.destinationID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.scheduleID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.arrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.leaveTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.costEstimate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.note)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.destinationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.scheduleID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.arrivalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.leaveTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.costEstimate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.note)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SDID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SDID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SDID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
