@model DaNangTourism.Models.Destination

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Destination</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.describe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.describe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._openTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._openTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._closeTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._closeTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._openDayTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._openDayTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._imgURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._imgURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._rating)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="destinationID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
