@model DaNangTourism.Models.Destination

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Destination</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.describe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.describe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._openTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._openTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._closeTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._closeTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._openDayTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._openDayTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._imgURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._imgURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.destinationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
