@model IEnumerable<DaNangTourism.Models.Schedule>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.scheduleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.creationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.describe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.state)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isPublic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.scheduleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.describe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isPublic)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.scheduleID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.scheduleID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.scheduleID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
